/* Stylesheet */

body {
	background-image: url(images/roulette.jpg);
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main {
	background-color: #fff;
	opacity: 0.95;
	padding: 50px 0px 50px 0px;
	width: 100%;
	text-align: center;
}

#dice {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 10%;
	margin: auto auto;
	line-height: 200px;
	font-family: Helvetica, sans-serif;
	font-size: 120px;
}

button {
	background-color: blue;
	width: 200px;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	padding: 10px;
	font-family: Helvetica, sans-serif;
}

button:hover {
	background-color: royalblue;
	cursor: pointer;
}